extends ../../layouts/default

block head
    title #{event.name}
    block body

        h1 #{event.name}
        small posted by : #{event.username}
        li
            strong date : #{event.date}
            li
            strong StartTime : #{event.StartTime}
            li
            strong endTime : #{event.endTime}
            li
            p description : #{event.description}


